<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>施工许可信息详情</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.png">
    <link rel="stylesheet" href="layui/css/layui.css" media="all">
    <script src="layui/layui.js" charset="utf-8"></script>
    <script src="JS/JST/JST.js?v=20200426" type="text/javascript"></script>
    <style>
        .ztb_td{
            width: 200px;
            height: 35px;
            background-color: #D7E8F7;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div style="margin: auto;width: 1000px;">
    <div style="width: 320px;height: 60px;background: url(logo.jpg) no-repeat center center;margin-right: 15px;"></div>
</div>
<br/>
<br/>
<table style="margin: auto; width: 1000px; border-collapse: collapse;font-weight: bold;">
    <tr>
        <td style="font-size: 18px; font-weight: bold; line-height: 35px;">施工许可证信息详情</td>
    </tr>
    <tr>
        <td>
            <table class="layui-table">
                <tbody>
                <tr>
                    <td class="ztb_td">合同金额（万元）</td>
                    <td th:text="${sgxk.htjewy}"/>
                </tr>
                <tr>
                    <td class="ztb_td">建设规模</td>
                    <td th:text="${sgxk.jsgm}"/>
                </tr>
                <tr>
                    <td class="ztb_td">合同工期（天）</td>
                    <td th:text="${sgxk.htgqt}"/>
                </tr>
                <tr>
                    <td class="ztb_td">施工面积（平方米）</td>
                    <td th:text="${sgxk.sgmjpfm}"/>
                </tr>
                <tr>
                    <td class="ztb_td">建设单位名称</td>
                    <td th:text="${sgxk.jsdwmc}"/>
                </tr>
                <tr>
                    <td class="ztb_td">发证日期</td>
                    <td th:text="${sgxk.fzrq}"/>
                </tr>
                <tr>
                    <td class="ztb_td">项目负责人姓名</td>
                    <td th:text="${sgxk.xmfzrxm}"/>
                </tr>


                </tbody>
            </table>
        </td>
    </tr>
</table>
<br/>
<br/>
<div th:insert="~{index::copy}"></div>
</body>
</html>